---
layout: home
active: water
---


<div class="map-box">
    {% include 
        item.html
        type="illo-maps"
        img="stars.png"
        half="true"
        link=""
        linkname=""
        descrip="Wisconsin: A Constellation Map"
        size="3"
    %}

    {% include 
        item.html
        type="illo-maps"
        img="muffins.png"
        half="true"
        link=""
        linkname=""
        descrip=" Muffins & Metros"
        size="1"
    %}

    {% include 
        item.html
        img="drawn-thru-deutschland.jpg"
        type="illo-not-maps"
        link="https://www.washingtonpost.com/travel/2022/10/15/germany-trip-itinerary-munich-berlin/"
        descrip="Drawn thru Deutschland"
        black="true"
        size="1"
    %}

    {% include 
        item.html
        img="temp-garden.jpg"
        type="illo-maps"
        link="https://www.washingtonpost.com/home/interactive/2024/temporary-garden-temperance-alley-dc/"
        descrip="D.C.'s Secret Garden"
        half="true"
        size="1"
    %}
  
    {% include 
        item.html
        type="illo-not-maps"
        img="presidents.gif"
        half="true"
        link=""
        linkname=""
        descrip="Not Just 'Washington' D.C."
        size="1"
    %}
  </div>  

<!-- 

-->


