---
layout: home
active: water
---


<div class="map-box">
    {% include 
        item.html
        img="drawn-thru-deutschland.jpg"
        type="illo-not-maps"
        link="https://www.washingtonpost.com/travel/2022/10/15/germany-trip-itinerary-munich-berlin/"
        linkname="Drawn thru Deutschland"
        black="true"
        descrip="a log of sketches done while traveling Germany in the summer of '22'."
    %}

    {% include 
        item.html
        img="temp-garden.jpg"
        type="illo-maps"
        link="https://www.washingtonpost.com/home/interactive/2024/temporary-garden-temperance-alley-dc/"
        linkname="D.C.'s Secret Garden"
        half="true"
        descrip="an illustrated stroll through a miracle DIY garden in urban D.C."
    %}
  
    {% include 
        item.html
        type="illo-not-maps"
        img="presidents.gif"
        half="true"
        link=""
        linkname="Presidental Portraits"
        descrip=" the Monumental folks, drawn around the District they once called home."
    %}
  
</div>  

<!-- 

-->


