---
layout: home
title: Maps
pagination: 
  enabled: true
active: maps
---

<div class="works-filter">
  <ol>
    <li>Filter by:</li>
    <li>
      <input type="checkbox" id="n" name="cat"/> 
      <label for="n">News Graphics</label>
    </li>
    <li>
      <input type="checkbox" id="m" name="cat"/> 
      <label for="m">Illustrated Maps</label>
    </li>
    <li>
      <input type="checkbox" id="i" name="cat"/> 
      <label for="i">Interactives</label>
    </li>
    <li>
      <input type="checkbox" id="p" name="cat"/> 
      <label for="p">Personal Projects</label>
    </li>
    <!-- <li>
      <input type="checkbox" id="s" /> 
      <label for="s">Prints Available</label>
    </li> -->
  </ol>
</div>

<div class="map-box">
{% include 
    item.html
    type="illo-maps"
    img="muffins.png"
    half="true"
    link="#0"
    target="blank"
    linkname=""
    descrip=" Muffins & Metros"
    size="1"
    cats="&s &m &p"
%}

  {% include 
    item.html
    img="maps-from-home.png"
    type="illo-maps"
    size="2"
    link="https://moriartynaps.org/maps-from-home"
    descrip="Maps from Home"
    cats="&i &m &p"
  %}

  {% include 
    item.html
    img="drawn-thru-deutschland.jpg"
    type="illo-not-maps"
    link="https://www.washingtonpost.com/travel/2022/10/15/germany-trip-itinerary-munich-berlin/"
    descrip="Drawn thru Deutschland"
    black="true"
    size="1"
    cats="&n &m"
  %}

  {% include 
      item.html
      img="temperance-alley.jpg"
      type="works"
      link="https://www.washingtonpost.com/home/interactive/2024/temporary-garden-temperance-alley-dc/"
      descrip="D.C.'s Secret Garden"
      half="true"
      size="1"
      cats="&n &m"
  %}

{% include 
      item.html
      img="eclipse.jpg"
      type="illo-maps"
      size="2"
      dark="true"
      link="https://www.washingtonpost.com/science/interactive/2024/map-totality-solar-eclipse-locations/"
      descrip="Follow a mile-by-mile map of the total solar eclipse"
      cats="&n &i"
  %}

  {% include 
    item.html
    img="foggy.jpg"
    type="works"
    dark="true"
    start="1"
    end="5"
    size="3"
    link="https://moriartynaps.org/foggy-spaces/"
    descrip="Foggy Spaces"
    cats="&p"
  %}

  {% include 
    item.html
    type="illo-not-maps"
    img="presidents.gif"
    half="true"
    link="#0"
    linkname=""
    descrip=""
    size="1"
    cats="&p &m"
  %}

  {% include 
    item.html
    img="gerrymander2.jpg"
    type="works"
    size="3"
    link="https://www.washingtonpost.com/politics/interactive/2022/redistricting-mini-golf/"
    descrip="Gerrymander Invitational"
    cats="&n &m &i"
  %}

  {% include 
      item.html
      img="lagos.gif"
      type="illo-maps"
      size="2"
      link="https://www.washingtonpost.com/world/interactive/2021/africa-cities/"
      descrip="Africa's Rising Cities"
      cats="&n &i"
  %}

  {% include 
    item.html
    img="covers.jpg"
    type="works"
    half="true"
    size="4"
    link="https://moriartynaps.org/covers/"
    descrip="Covers"
    cats="&i &m &p &s"
  %}

  {% include 
    item.html
    img="chocolate.jpg"
    type="works"
    dark="true"
    start="1"
    end="5"
    size="2"
    link="https://moriartynaps.org/cake/"
    descrip="Cake Maps"
    cats="&i &p &s"
  %}

  {% include 
    item.html
    img="pizza.jpg"
    type="works"
    size="2"
    link="https://www.washingtonpost.com/travel/interactive/2023/best-pizza-map-style-near-you/"
    descrip="Best regional pizzas"
    cats="&n &i"
  %}

  {% include 
    item.html
    img="xmas-card-2.jpg"
    type="works"
    dark="true"
    start="1"
    end="5"
    link="#0"
    size="1"
    cats="&p"
  %}

  {% include 
    item.html
    img="thanks.jpg"
    type="works"
    half="true"
    size="1"
    link="https://www.washingtonpost.com/food/2023/11/09/thanksgiving-recipes-joy-of-cooking/"
    descrip="Joy of Cooking Thanksgiving"
    cats="&n"
  %}

  {% include 
    item.html
    img="stranger-music.jpg"
    type="works"
    dark="true"
    start="1"
    end="5"
    size="3"
    link="https://moriartynaps.org/stranger-music/"
    descrip="Stranger Music"
    cats="&p"
  %}

  {% include 
    item.html
    img="snowy.jpg"
    type="works"
    dark="true"
    start="1"
    end="5"
    link="https://www.washingtonpost.com/weather/interactive/2022/holiday-snow-chances-us-cities/"
    size="3"
    cats="&n &i"
  %}

  {% include 
    item.html
    img="sky-height.jpg"
    type="works"
    half="true"
    size="2"
    link="https://www.washingtonpost.com/climate-environment/interactive/2023/cloud-shapes-height-sky-climate/"
    descrip="How High is the Sky?"
    cats="&n"
  %}

  {% include 
    item.html
    img="midnight.jpg"
    type="works"
    link="https://moriartynaps.org/midnight-arrivial/"
    descrip="Midnight Arrival"
    black="true"
    size="4"
    cats="&i &p"
  %}

  {% include 
    item.html
    img="offshore.gif"
    type="works"
    dark="true"
    start="1"
    end="5"
    size="2"
    link="https://www.wsj.com/articles/americas-imports-are-stuck-on-ships-floating-just-off-los-angeles-11617183002"
    descrip="LA Port Log Jam"
    cats="&n"
  %}

  {% include 
    item.html
    img="protest.gif"
    type="works"
    dark="true"
    start="1"
    end="5"
    size="3"
    link="https://www.wsj.com/articles/maps-how-protests-evolved-in-the-wake-of-george-floyds-killing-11591984846"
    descrip="George Floyd Killing Protests"
    cats="&n"
  %}

  {% include 
    item.html
    img="pandas.jpg"
    type="works"
    dark="true"
    start="1"
    end="5"
    size="3"
    link="https://dylanmoriarty.github.io/red-panda-map/"
    descrip="Red Pandas of the World"
    cats="&i &p &m"
  %}

  {% include 
    item.html
    img="isolation.jpg"
    type="works"
    dark="true"
    start="1"
    end="5"
    size="1"
    link="https://moriartynaps.org/maps-from-isolation/"
    descrip="Maps from Isolation"
    cats="&p"
  %}

  {% include 
    item.html
    img="geobreakfast.jpg"
    type="works"
    dark="true"
    start="1"
    end="5"
    size="2"
    link="https://geobreakfastdc.github.io/"
    descrip="Geobreakfast DC"
    cats="&p &m"
  %}

</div>

<script src="{{ site.basurl }}/assets/scripts/works.js"></script>
