---
layout: home
title: Maps
pagination: 
  enabled: true
active: maps
---

<div class="map-box">
  {% include 
      item.html
      img="eclipse.jpg"
      type="illo-maps"
      half="true"
      black="true"
      link="https://www.washingtonpost.com/science/interactive/2024/map-totality-solar-eclipse-locations/"
      linkname="Follow a mile-by-mile map of the total solar eclipse"
      descrip="an immersive looong relief map of everything under the shadow of the moon."
  %}

  {% include 
      item.html
      img="maps-from-home.png"
      type="illo-maps"
      half="true"
      link="https://moriartynaps.org/maps-from-home"
      linkname="Maps from Home"
      descrip="a personal project reconciling."
  %}

  {% include 
      item.html
      img="lagos.gif"
      type="illo-maps"
      half="true"
      descrip="<a href='https://www.washingtonpost.com/world/interactive/2021/africa-cities/'>Africa's Rising Cities ↗</a>, a look at Africa's projected population boom over the next century."
  %}

  {% include 
    item.html
    img="pizza.avif"
    type="illo-maps"
    half="true"
    descrip="<a href='https://www.washingtonpost.com/travel/interactive/2023/best-pizza-map-style-near-you/?itid=ap_dylanmoriarty'>Look up the best regional pizza in your state ↗</a>, an interactive tool that lets you search for the best pizzeria's in your state."
  %}

  {% include 
      item.html
      img="covers.jpeg"
      type="illo-maps"
      half="true"
      descrip="<a href='https://moriartynaps.org/maps-from-home'>Covers ↗</a>, a personal project reconciling."
  %}

  <!-- <div class="item item_half">
      <img 
          src={{site.baseurl}}/assets/graphics/illo-maps/maps-from-home.png/>
  </div>
  <div class="item item_half">
      <img src={{site.baseurl}}/assets/graphics/illo-maps/covers.gif>
  </div> -->


  <div class="item">
      <img src={{site.baseurl}}/assets/graphics/illo-maps/cakes.jpg></div>
  </div>
</div>


<!-- 
  WERNER
  SNOWFALL
  MINI-GOLF
  CHRISTMAS TREES
-->


