<ol class="nav">
    <!-- <li><a href="{{site.baseurl}}/illos" class="no_underline {% if page.active == 'water' %}nav-active{% endif %}">Illustrated Maps</a></li> -->
    <li><a href="{{site.baseurl}}/" class="no_underline {% if page.active == 'maps' %}nav-active{% endif %}">Works</a></li>
    <li><a href="{{site.baseurl}}/market" target="_blank" class="disable no_underline">Market</a></li>
    <li><a href="https://moriartynaps.org/" target="_blank" class="no_underline">Blog↗</a></li>
    <li><a href="{{site.baseurl}}/about" class="no_underline {% if page.active == 'about' %}nav-active{% endif %}">About</a></li>
    <li>
        <a href="https://www.instagram.com/moriartymaps/" target="_blank" class="no_underline">
            <img src="{{site.baseurl}}/assets/graphics/insta.svg" class="social-icon no_underline" />
        </a>
    </li>
</ol>
