<ol>
    <li><a href="{{site.baseurl}}/illos" class="no_underline {% if page.active == 'water' %}nav-active{% endif %}">Illustrations</a></li>
    <li><a href="{{site.baseurl}}/" class="no_underline {% if page.active == 'maps' %}nav-active{% endif %}">News Maps</a></li>
    <li><a href="https://www.etsy.com/shop/moriartymaps" target="_blank" class="no_underline">Shop↗</a></li>
    <li><a href="https://moriartynaps.org/" target="_blank" class="no_underline">Naps↗</a></li>
    <li><a href="{{site.baseurl}}/about" class="no_underline {% if page.active == 'about' %}nav-active{% endif %}">About</a></li>
    <li>
        <a href="https://www.instagram.com/moriartymaps/" target="_blank" class="no_underline">
            <img src="{{site.baseurl}}/assets/graphics/insta.svg" class="social-icon no_underline" />
        </a>
    </li>
</ol>
