@keyframes dullColor {
    0%  {color: $rainOrange; border-color: $rainOrange;}
    15% {color: $rainYellow; border-color: $rainYellow;}
    30% {color: $rainGreen; border-color: $rainGreen;}
    45% {color: $rainBlue; border-color: $rainBlue;}
    60% {color: $rainPurple; border-color: $rainPurple;}
    75% {color: $rainRed; border-color: $rainRed;}
    100%  {color: $rainOrange; border-color: $rainOrange;}
  }
  
  @keyframes goldGlow {
    0%  {color: gold; border-color: gold;}
    25% {color: darken(gold, 2); border-color: darken(gold, 2);}
    50% {color: darken(gold, 5); border-color: darken(gold, 5);}
    75% {color: darken(gold, 2); border-color: darken(gold, 2);}
    100%  {color: gold; border-color: gold;}
  }
  
  .spinme {
    fig {
      img {
        transition: 0.2s all;
        animation-timing-function: linear !important;
        &:hover {
          animation: spin 2s infinite;
        }
      }
    }
  }
  
  .spingme2 {
    transition: 0.2s all;
    animation-timing-function: linear !important;
    &:hover {
      animation: spin 4s infinite;
    }
  }
  
  @keyframes spin {
      0% {transform:rotate(0deg);}
      100% {transform:rotate(360deg);}
  }
  