$Primary: #70b5b2;
$golden: #b58b07;

$ChapterColor: #555;
$LineColor: #70b5b2;

$bodyColor: #f5f5f5;
$bodyToFade: lighten($Primary, 28);

$rainRed: #e46565;
$rainOrange: rgb(255, 195, 83);
$rainYellow: #f8dc8b;
$rainGreen: #44cb4f;
$rainBlue: #52c7bd;
$rainPurple: #a16e9f;

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$mobile:          600px;
$laptop:        800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

.white-bg { background-color: white; }
